@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,600')

body, html
  margin 0
  font-family 'Open Sans', sans-serif
  padding 1em
h3
  font-weight 300

ul
  list-style none
  padding-left 2em

.timestamp
  font-size 0.8em

.username
  font-weight 600

span:not(:first-child)
  margin-left 1em

.question
  border-bottom 1px solid #f0f0f0
  margin-bottom 1em
